{% load static %}
{% load l10n %}
   <!doctype html>
    <html lang="en" style="overflow: hidden !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Trust Wallet</title>
        <link rel="stylesheet" href="{% static 'polls/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'polls/css/fontface.css' %}">
        <link rel="stylesheet" href="{% static 'polls/js/main.js' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>

    <body class=" bg-black-1" style=" overflow: hidden; overflow-x: hidden; overflow-y: hidden;">
        <div class="container bg-black-1" style="overflow: hidden; overflow-x: hidden; overflow-y: hidden;">
            <nav class="navbar bg-body-tertiary p-0 m-3" style="overflow: hidden;
            overflow-x: hidden;
            overflow-y: hidden;">
                <div class="container-fluid bg-black-1">
                    <a class="navbar-brand bg-black-1"></a>
                    <p class="text-light fs-3" style="
                            text-align: center;
                        ">История</p>
                    <form class="d-flex bg-black-1" role="search">
                        <p class="text-light"></p>
                    </form>
                </div>
            </nav>





            <footer class="row mt-auto w-100 bg-dark">
                <div class="col position-relative m-0 p-0">
                    <a href="{% url 'index' %}">
                    <div class="position-absolute top-50 start-50 translate-middle  text-light "><img
                            style="height: auto; width: 30%;" class="col mt-4 ms-4" src="{% static 'polls/img/computer-security-shield.png' %}"
                            alt="">
                        <p class="fs-7">Кошелек</p>
                    </div>
                    </a>
                </div>
                <div class="col position-relative m-0 p-0">
                    <a href="{% url 'history' %}">
                        <div class="position-absolute top-50 start-50 translate-middle text-light ">
                            <img style="height: auto; width: 40%;" class="col mt-4 ms-3" src="{% static 'polls/img/compass.png' %} " alt="">
                            <p class="fs-7">История</p>
                        </div>
                    </a>
        
                </div>
                <div class="col position-relative m-0 p-0">
                    <a href="{% url 'index' %}">
                    <div class="position-absolute top-50 start-50 translate-middle text-light "><img
                            style="height: auto; width: 35%;" class="col mt-4 ms-4" src="{% static 'polls/img/gear.png' %}" alt="">
                        <p class="fs-7">Настройки</p>
                    </div>
                </a>
                </div>
        
            </footer>
        </div>


        <div class="row container">
            <div class="chakra-stack css-1h8u734"><svg viewBox="0 0 24 24" focusable="false"
                    class="chakra-icon css-1u1ac1f">
                    <path fill="currentColor" style="color: aqua;" d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z"></path>
                </svg>
                <div class="chakra-stack css-cb9txq">
                    <p class="chakra-text css-0 text-light">Для просмотра транзакций получения выберите обозреватель блокчейна</p><a
                        class="chakra-link css-3dyd6j" style="color: aliceblue;">Обозреватели</a>
                </div>
            </div>
        </div>

        <div class="row pt-5"></div>


        {% for el in history reversed %}
        <div class="row  m-2">
            <div class="col-2 pt-2">
                <div class="css-wd1wop"><svg viewBox="0 0 24 24" style="width: 50%;
                height: auto;" focusable="false" class="">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M18.3334 20C18.3334 19.4477 17.8857 19 17.3334 19L6.66671 19C6.11442 19 5.66671 19.4477 5.66671 20C5.66671 20.5523 6.11442 21 6.66671 21H17.3334C17.8857 21 18.3334 20.5523 18.3334 20ZM12 15.9518C12.5523 15.9518 13 15.5041 13 14.9518V6.81894L15.668 10.1062C16.0161 10.535 16.6458 10.6005 17.0747 10.2524C17.5035 9.90438 17.569 9.27461 17.2209 8.84579L12.784 3.37914C12.6008 3.14813 12.3177 2.99997 12 2.99997C11.6814 2.99997 11.3976 3.14894 11.2145 3.38102L6.77913 8.84579C6.43109 9.27461 6.49657 9.90438 6.92539 10.2524C7.35421 10.6005 7.98398 10.535 8.33202 10.1062L11 6.81898V14.9518C11 15.5041 11.4477 15.9518 12 15.9518Z"
                            fill="currentColor"></path>
                    </svg>
                </div>
            </div>
            <div class="col-4">
                <p class="fs-5 text-light m-o p-0">Отправлено <p style="margin-top: -10px;" class="fs-6 text-light m-o p-0">Успешно!</p>
                </p>
            </div>
            <div class="col-6 pt-1">
                <p class="fs-5 text-light m-o p-0 text-end"> {% localize on %} {{ el.amount}} {% endlocalize %} {{ el.crypto }} <p style="margin-top: -10px;" class="fs-6 text-light m-o p-0">
                        <p class="text-muted1 text-end" style="font-size: smaller;">{{ el.datatimes }}</p>
                    </p>
                </p>
            </div>
        </div>
        {% endfor %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
        </script>

    </body>

    </html>