{% load static %}
<!doctype html>
<html lang="en" style="overflow: hidden !important;
overflow-x: hidden !important;
overflow-y: hidden !important;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trust Wallet</title>
    <link rel="stylesheet" href="{% static 'polls/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/fontface.css' %}">
    <link rel="stylesheet" href="{% static 'polls/js/main.js' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body class=" bg-black-1" style=" overflow: hidden; overflow-x: hidden; overflow-y: hidden;">
    <div class="container bg-black-1" style="overflow: hidden; overflow-x: hidden; overflow-y: hidden;">
        <nav class="navbar bg-body-tertiary p-0 m-3" style="overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;">
            <div class="container-fluid bg-black-1">
                <a class="navbar-brand bg-black-1 text-light" href="{% url 'index' %}">Назад</a>
                <form class="d-flex bg-black-1" role="search">
                    <p class="text-light pt-3">Отправить USDT</p>
                </form>
            </div>
        </nav>
        <div class="row">
            <div class="position-relative ">
                <div class="position-absolute top-50 start-50 translate-middle p-5">
                    <p class="text-light font-big" style="padding-left: 33px;"><img alt="Tether USD" src="{% static 'polls/img/teher.png' %}" width="60%" height="50%"></p>
                </div>
            </div>
        </div>
     
        <br>
        <hr class="bg-white">

        <div class="mb-3 row">
            <form action="" method="post">
                {% csrf_token %}
            <div class="col-sm-10">
              <input placeholder="Адрес получателя" class="form-control  form-control-static" id="">
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-sm-10">
              <input placeholder="Сумма" class="form-control form-control-static" id="">
            </div>
          </div>
          {% for i in bio %}
          <p class="chakra-text css-1489zcy">Баланс&nbsp;{{ i.balance }}&nbsp;USDT</p>
            </div>
            {% endfor %}
        <div class="row pt-4">
            <div class="position-relative">
                <div class="position-absolute top-50 start-50 translate-middle"><button class="btn btn-primary m-3 buttons" type="submit">
                    <a href="{% url 'succsess' %}"style="color: #0e0d0d !important; text-decoration: none !important;" > 
            <svg viewBox="0 0 24 24" focusable="false" class="rotates strelochka chakra-icon css-onkibi" aria-hidden="true">
                <path fill="currentColor" d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z"></path>
            </svg>
            Отправить
            </a>
        </button></div>
              </div>
            </form>
        <div class="row">
            <br>
        </div>
    

    
    </div>



    
    <footer class="row mt-auto w-100 bg-dark">
        <div class="col position-relative m-0 p-0">
            <a href="{% url 'index' %}">
            <div class="position-absolute top-50 start-50 translate-middle  text-light "><img
                    style="height: auto; width: 30%;" class="col mt-4 ms-4" src="{% static 'polls/img/computer-security-shield.png' %}"
                    alt="">
                <p class="fs-7">Кошелек</p>
            </div>
            </a>
        </div>
        <div class="col position-relative m-0 p-0">
            <a href="{% url 'history' %}">
                <div class="position-absolute top-50 start-50 translate-middle text-light ">
                    <img style="height: auto; width: 40%;" class="col mt-4 ms-3" src="{% static 'polls/img/compass.png' %} " alt="">
                    <p class="fs-7">История</p>
                </div>
            </a>

        </div>
        <div class="col position-relative m-0 p-0">
            <a href="{% url 'index' %}">
            <div class="position-absolute top-50 start-50 translate-middle text-light "><img
                    style="height: auto; width: 35%;" class="col mt-4 ms-4" src="{% static 'polls/img/gear.png' %}" alt="">
                <p class="fs-7">Настройки</p>
            </div>
        </a>
        </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
</body>

</html>